APP_NAME=INPRO
APP_ENV=production
APP_DEBUG=false
APP_URL=https://tudominio.es

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=landing_inpro
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4

RESEND_API_KEY=
MAIL_FROM=onboarding@resend.dev
MAIL_TO=contacto@inpro.es
MAIL_REPLY_TO=
